/**
 * MovieSearch.css
 *
 * @format
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #0c0505;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(./src/assets/bg-cinema-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.container {
  width: 90%;
  max-width: 800px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #000000;
}

.error {
  color: red;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}
